body {
  font-family: sans-serif;
}
.landing {
  height: 75vh;
  background-image: url(../images/landing.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
h1 {
  font-size: 3.5rem;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}
h2 {
  font-size: 1.2rem;
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
}
#spotifylogo {
  width: 8rem;
}
header {
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
}
nav > a {
  text-decoration: none;
  margin: 1.2rem;
}
.threeblockthing {
  display: flex;
  justify-content: space-around;
  margin-left: 5%;
  margin-right: 5%;
  align-items: center;
  flex-direction: row;
}
.threelogos {
  width: 100px;
}
section {
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.kanyesection {
  background-image: url(../images/spotify-icon-white.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15%;
  padding: 10%;
  background-color: #00b172;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  color: white;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
  width: 30vw;
  margin-top: 3rem;
}
#kanyehead {
  font-size: 30px;
  text-decoration: underline;
}

#app {
  margin-right: -3rem;
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h3 {
  font-size: x-large;
}

#whats {
  text-align: center;
  text-decoration: underline;
  font-size: 30px;
  margin: 5%;
}
#hammenu {
  visibility: hidden;
  width: 0%;
}

@media (max-width: 680px) {
  .kanyesection {
    flex-direction: column;
    background-image: none;
    padding: 0%;
  }
  #app {
    width: 70vw;
    margin: 0%;
  }
  .info {
    width: 70vw;
  }
  .threeblockthing {
    flex-direction: column;
    width: 80vw;
  }
  .threeblockthing > section {
    width: 80vw;
  }
  nav > a {
    visibility: hidden;
    width: 0%;
    margin: 0%;
  }
  #hammenu {
    display: flex;
    justify-content: space-around;
    visibility: visible;
    width: 3rem;
  }
  nav {
    margin-right: 10vw;
    width: 0%;
  }
}
